/* Write your CSS here */

.bg-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#ff6e7f, #bfe9ff);
  height: 100vh;
}

.cg-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.head {
  color: #0f172a;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 400;
}

.button {
  border: 2px solid #334155;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 5px;
}

.para {
  color: #1e293b;
  font-size: 20px;
}
